# Work Area

In [1]:
import pandas as pd

from importlib import reload

import str.database.create as db_creating
from str.database.connection import Tables, read_table
reload(db_creating);

Tables

✔️ Base de datos creada correctamente.

✔️ Tabla 'genders' actualizada correctamente.

✔️ Tabla 'marital_status' actualizada correctamente.

✔️ Tabla 'credit_types' actualizada correctamente.

✔️ Tabla 'collection_types' actualizada correctamente.

✔️ Sistema inicializado correctamente a nombre de Credise S.A..


✔️ Base de datos creada correctamente.

✔️ Tabla 'genders' actualizada correctamente.

✔️ Tabla 'marital_status' actualizada correctamente.

✔️ Tabla 'credit_types' actualizada correctamente.

✔️ Tabla 'collection_types' actualizada correctamente.

✔️ Sistema inicializado correctamente a nombre de Credise S.A..

typing.Literal['business_partners', 'purchases', 'sales', 'genders', 'marital_status', 'countries', 'provinces', 'cities', 'clients', 'employment_status', 'additional_addresses', 'phones', 'credit_types', 'business_lines', 'organisms', 'credits', 'installments', 'collection_types', 'collections']

In [4]:
display(read_table("countries"))
display(read_table("provinces"))
read_table("cities")

         Name  Nationality
ID
1   ARGENTINA  ARGENTINO/A
2      BRASIL  BRASILERO/A
3    PARAGUAY         PARA

            Name  Country_ID
ID
1   BUENOS AIRES           1
2   BUENOS AIRES           2
3   BUENOS AIRES           3

Empty DataFrame
Columns: [Name, Province_ID]
Index: []

In [5]:
from str.database.structure import Country, Province, City

# Agregar país principal
arg = Country("Argentina", "Argentino/a")
arg = Country("Brasil", "Brasilero/a")
# Agregar una provincia
prov = Province("Buenos Aires", "Argentina")
prov = Province("Buenos Aires", "Brasil")
# Agregar una ciudad
city = City("Bahía Blanca", "Buenos Aires", "Paraguay")

✅ ARGENTINA already in the database.


✅ BRASIL already in the database.

✅ BUENOS AIRES already in the database.

✅ BUENOS AIRES already in the database.

3

✏️ Adding a new city...
    ✅ BAHÍA BLANCA added to the database.