# Work Area

In [ ]:
import pandas as pd

from importlib import reload

from str.database.connection import read_table
import str.database.create as db_creating
import str.categories.generator as gen_cat
import str.categories as categories
import str.tool as tool
import str.example as example

reload(categories)
reload(gen_cat)
reload(db_creating)
reload(example);

ImportError: cannot import name 'OUR_COMPANY_ID' from partially initialized module 'str.database.create' (most likely due to a circular import) (c:\Users\juanm\Repositorios\Credit_Manager\str\database\create.py)

In [ ]:
read_table('credit_types')

       Name
ID
1   FRANCES
2    ALEMAN
3   PENALTY

In [ ]:
df_crts = read_table('credits')

df_crts.head()

,Origin_ID,Disbursement_Date,First_Due_Date,Capital_Requested,Capital,Credit_Type_ID,TNA_C_IVA,Term,Client_ID,Organism_ID,Purchase_ID,Sale_ID
ID,,,,,,,,,,,,
1,1,2025-11-17,2026-01-28,100000.0,95000.0,1,1.3,12,1,1,<NA>,<NA>

In [ ]:
df_inst = read_table('installments')

df_inst

,Credit_ID,Inst_Num,Owner_ID,Due_Date,Capital,Interest,IVA,Total,Settlement_Date
ID,,,,,,,,,
1,1,1,1,2026-01-28,4262.967720,8388.995811,1761.689120,14413.652652,2026-01-28
2,1,2,1,2026-02-28,4718.462901,8012.553513,1682.636238,14413.652652,2026-02-28
3,1,3,1,2026-03-28,5222.627431,7595.888613,1595.136609,14413.652652,2026-03-28
4,1,4,1,2026-04-28,5780.661594,7134.703353,1498.287704,14413.652652,2026-04-28
5,1,5,1,2026-05-28,6398.321326,6624.240765,1391.090561,14413.652652,2026-05-28
6,1,6,1,2026-06-28,7081.977578,6059.235598,1272.439476,14413.652652,2026-06-28
7,1,7,1,2026-07-28,7838.682031,5433.860017,1141.110604,14413.652652,2026-07-28
8,1,8,1,2026-08-28,8676.239837,4741.663483,995.749331,14413.652652,2026-08-28
9,1,9,1,2026-09-28,9603.290121,3975.506224,834.856307,14413.652652,2026-09-28
10,1,10,1,2026-10-28,10629.395093,3127.485586,656.771973,14413.652652,2026-10-28
11,1,11,1,2026-11-28,11765.138678,2188.854523,459.659450,14413.652652,2026-11-28
12,1,12,1,2026-12-28,13022.235688,1149.931375,241.485589,14413.652652,2026-12-28